parameters:
    level: 10
    paths:
        - config/
        - src/
        - tests/
    tmpDir: var/cache/phpstan
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            message: '#Variable \$userAuthenticated might not be defined.#'
            path: src/Service/AuthenticateUserService.php
